body {
  color: black;
  font-family: arial;
  background-color: white;
  background-size: cover;
}

a {
  color: black;
}

.name {
  text-align: center;
}

.Thoughts {
  color: red;
  text-align: center;
}

iframe {
  width: 300px;
  height: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.header {
  font-size: 25px;
  text-align: right;
}

.description {
  text-align: right;
}

.footer {
  color: red;
  text-align: center;
}

.exercise {
  font-size: 10px;
}
